# dependencies
node_modules

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea
.cursor
.ctags
.tags

# cli
dist

# documentation (work in progress)
docs/chain/
docs/frontend/

# slither
packages/chain/venv
